# others
.vscode/ 
.dev/
.secrets

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
env/
.env/
.venv/
.env
.env-test
ENV/
env.bak/
venv.bak/


# PyCharm specific files
.idea/
*.iml

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Test results
*.test

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Misc
*.swp
*.swo
.DS_Store
Thumbs.dbg

README.md
logs/
testfield/
ztest/
models_data/
