name: Deploy

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:       
    - name: Deploy using ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          cd /home/deploy-dev/ubro_backend
          git pull origin master
          git status
          cd Backend-Bot-master/
          source venv/bin/activate
          poetry lock
          poetry install
          systemctl daemon-reload
          systemctl restart ubro-backend
          systemctl status ubro-backend
